$colors: (
  blue: #153cb4,
  pink: #f62e97,
  timberwolf: #e4dfda,
  tan: #d4b483,
  oxfordBlue: #02182b,
  russianViolet: #300350,
  mardiGrass: #94167f,
  cerisePink: #e93479,
  rajah: #f9ac53,
);
