@import "./../../App.scss";
.GlitchImage__img-container {
  position: absolute;
  z-index: 1;
  top: 0%;
  right: -10px;
  width: 100%;
  height: 100%;
  transform: translate(10%, 10%);

  .image {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: contain;
    width: 35%;
    height: 100%;
    z-index: 3;
    transition: all 0.2s ease-out;
    opacity: 0.3;
    @include media-breakpoint-down(md) {
      height: 100%;
      width: 100%;
      opacity: 0.2;
    }
  }
  .image2 {
    position: absolute;
    top: 0%;
    right: 0;
    object-fit: contain;
    width: 35%;
    height: 100%;
    z-index: 2;
    filter: grayscale(1);
    transition: all 0.2s ease-out;
    opacity: 0.2;
    @include media-breakpoint-down(md) {
      height: 100%;
      width: 100%;
      opacity: 0.1;
    }
  }
}

.GlitchImage__img-container-bg {
  position: absolute;
  z-index: 1;
  top: 0%;
  left: -10%;
  width: 110%;
  height: 100%;

  .image {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: auto;
    z-index: 3;
    transition: all 0.2s ease-out;
    opacity: 0.3;
    @include media-breakpoint-down(md) {
      height: 100%;
    }
  }
  .image2 {
    position: absolute;
    top: 0%;
    right: 0;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: auto;
    z-index: 2;
    filter: hue-rotate(260deg);
    transition: all 0.2s ease-out;
    opacity: 0.2;
    @include media-breakpoint-down(md) {
      height: 100%;
    }
  }
}
