@import "./styles/colors.scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
// font-family: 'Inconsolata', monospace;
// font-family: 'Karla', sans-serif;

body {
  font-family: "Inconsolata", monospace;
  background-color: #f5f5f5;
}
.App {
  text-align: center;
}

$bg-color: #a58ae3;
$fg-color: #fdfc82;

$bg-gradient: linear-gradient(
  180deg,
  $bg-color 0%,
  rgba($fg-color, 1) 37%,
  rgba($bg-color, 1) 69%,
  $fg-color 100%
);
$fg-gradient: linear-gradient(
  0deg,
  $bg-color 0%,
  rgba($fg-color, 1) 57%,
  rgba($bg-color, 1) 89%,
  $fg-color 100%
);

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  background-size: 5px 5px, 5px 5px;
  background-position: -1px -1px, -1px -1px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  mix-blend-mode: difference;
}

.overlay-v2 {
  background-image: linear-gradient(rgba(#666, 0.09) 1px, transparent 1px),
    linear-gradient(90deg, rgba(#666, 0.09) 1px, transparent 1px);
}

.glitch-v2 {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: transparent;
  background-size: 5px 5px, 5px 5px;
  background-position: -1px -1px, -1px -1px;
  background-image: linear-gradient(rgba(#333, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(#333, 0.05) 1px, transparent 1px);
  animation: glitchV2 6s linear infinite, glitchV3 0.2s linear infinite;
}

.glitch {
  clip-path: polygon(0 0, 100% 0, 100% 0.5em, 0 0.5em);
  animation: glitch 10s linear infinite;
  transform: translatex(0.1rem);
}

@keyframes glitch {
  to {
    clip-path: polygon(
      0 calc(100% - 0.5em),
      100% calc(100% - 0.5em),
      0 100%,
      0 100%
    );
  }
}

@keyframes lightEffect {
  to {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 0.5em,
      0 0.5em,
      0 1em,
      100% 1em,
      100% 1.5em,
      0 1.5em,
      0 2em,
      100% 2em,
      100% 2.5em,
      0 2.5em,
      0 3em,
      100% 3em,
      100% 3.5em,
      0 3.5em,
      0 4em,
      100% 4em,
      100% 4.5em,
      0 4.5em,
      0 5em,
      100% 5em,
      100% 5.5em,
      0 5.5em,
      0 6em,
      100% 6em,
      100% 6.5em,
      0 6.5em,
      0 7em,
      100% 7em,
      100% 7.5em,
      0 7.5em,
      0 8em,
      100% 8em,
      100% 8.5em,
      0 8.5em,
      0 9em,
      100% 9em,
      100% 9.5em,
      0 9.5em,
      0 10em,
      100% 10em,
      100% 10em,
      0 10em,
      0 11em,
      100% 11em,
      100% 11.5em,
      0 11.5em,
      0 12em,
      100% 12em,
      100% 12.5em,
      0 12.5em,
      0 13em,
      100% 13em,
      100% 13.5em,
      0 13.5em,
      0 14em,
      100% 14em,
      100% 14.5em,
      0 14.5em,
      0 15em,
      100% 15em,
      100% 15.5em,
      0 15.5em,
      0 16em,
      100% 16em,
      100% 16.5em,
      0 16.5em,
      0 17em,
      100% 17em,
      100% 17.5em,
      0 17.5em,
      0 18em,
      100% 18em,
      100% 18.5em,
      0 18.5em,
      0 19em,
      100% 19em,
      100% 19.5em,
      0 19.5em,
      0 20em,
      100% 20em,
      100% 20.5em,
      0 20.5em
    );
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.window-border {
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  border-bottom: 2px solid #444444;
  border-right: 2px solid #444444;
}
.window-border-inset {
  border-bottom: 2px solid #eeeeee;
  border-right: 2px solid #eeeeee;
  border-top: 2px solid #444444;
  border-left: 2px solid #444444;
}

.window-border-card {
  border: 2px solid #eeeeee;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1);
}

.fill-icon {
  padding: 1px;

  &--dea {
    background-color: #fff;
    border: 1px solid #00828c;
  }
  &--fh {
    background-color: #662482;
    border: 1px solid #fff;
  }
  &--leroy {
    background-color: #fff;
  }
  &--nasa {
    background-color: #fff;
    border: 1px solid #32539f;
  }
}
